<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">Empleados</div>
    <div class="card-body text-dark">
        <h5 class="card-title">Listado de Empleados</h5>
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/employees/form']">
                Crear Empleado
            </button>
        </div>
        <div class="scrollbar scrollbar-success">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id empleado</th>
                        <th>Nombre completo</th>
                        <th>Funcion</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td>{{ employee.idemployee }}</td>
                        <td>{{ employee.fullname }}</td>
                        <td>{{ employee.funcion }}</td>
                        <td class="botones">
                            <button type="button" name="button" class="btn btn-success btn-sm"
                                [routerLink]="['/employees/form', employee.idemployee]">Editar</button>
                        </td>
                        <td class="botones">
                            <button type="button" name="button" class="btn btn-danger btn-sm"
                                (click)='delete(employee)'>Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>