<div class="card bg-dark text-white" id="formEmployee">
    <div class="card-header">
        <a class="nav-link text-white" [routerLink]="['/employees']">&laquo; {{ titulo }}</a>
    </div>
    <div class="card-body">
        <form #employeeForm="ngForm">
            <div class="form-group row" *ngIf="employee.idemployee">
                <label for="idemployee" class="col-form-label col-sm-4">Id empleado</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employee.idemployee" name="idemployee" [readonly]="true"/>
                </div>
               
            </div>

            <div class="form-group row">
                <label for="fullname" class="col-form-label col-sm-4">Nombre completo</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employee.fullname"
                        name="fullname" />
                </div>
            </div>

            <div class="form-group row">
                <label for="funcion" class="col-form-label col-sm-4">Función</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]="employee.funcion"
                        name="funcion" />
                </div>
            </div>

            <div class="form-group row float-right">
                <div class="col-sm-4">
                    <button class="btn btn-success" role="button" (click)='create()'
                        *ngIf="!employee.idemployee else elseBlock"
                        [disabled]="!employeeForm.form.valid">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-success" role="button" (click)='update()'
                            [disabled]="!employeeForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>

        </form>
    </div>
</div>